KUBEFLOW_URL=
KUBEFLOW_USER=
KUBEFLOW_PASSWORD=
DVC_GIT_REPO=git@github.com:DO-2K23-26/mlops-bif-v2.git
DVC_S3_ACCESS_KEY=
DVC_S3_SECRET_KEY=


k -n csgo2 create secret generic dvc-credentials \
    --from-literal=DVC_GIT_REPO=git@github.com:hugoponthieu/mlops-lol.git \
    --from-literal=DVC_S3_ACCESS_KEY=9d0545d3405e95b6240646b5aa189f9e \
    --from-literal=DVC_S3_SECRET_KEY=814e848ecba42b5a30706647d1e151f97b86aff9df1d513b4e0678e6ced2e485